.custom-button {
  background-color: rgb(16, 84, 167);
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: rgb(83, 134, 196);
  }
}
